<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDQNhfzS_VH7u5AZ88srRmv6wi-7LiYkY4</string>
	<key>GCM_SENDER_ID</key>
	<string>566828886513</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodie</string>
	<key>PROJECT_ID</key>
	<string>foodie-b9901</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-b9901.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566828886513:ios:951e48067aac35e1fcbc50</string>
</dict>
</plist>